{% extends 'layout.html' %}
{% load humanize course_extras %}


{% block content %}
<article>
	<h1>{{ course.title }}</h1>
	{{ course.description|markdown_to_html }}	

	<p>There are {{ steps.count|apnumber }} step{{ steps|pluralize }} in this course: {{ steps|join:", " }}</p>

	<section>
		{% for step in steps %}
			<h3><a href="{{ step.get_absolute_url }}">{{ step.title }}</a></h3>
			{{ step.description }}
		{% endfor %}
	</section>
	{% if user.is_authenticated %}
		<a href="{% url 'courses:quiz_create' course_pk=course.pk %}">New Quiz</a>
	{% endif %}	

</article>

{% endblock %}